<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Email information for alert-->
    <add key="smtpClient" value="711mail.7-11.com"/>
    <!--<add key="smtpClient" value="smtp.gmail.com"/>-->
    <!--<add key="port" value="587"/>-->
    <add key="port" value=""/>
    <add key="toAddress" value="varun.prabhakar@cognizant.com"/>
    <add key="password" value=""/>
    <add key="fromAddress" value="AutoEmail@SEIFuels.com"/>
    <add key="ccAddress" value=""/>
    </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
